<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Posts App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <article class="post" v-for="post in posts" :key="post.id">
            <h2 class="post__title">{{ post.title }}</h2>
            <p class="post__text">{{ post.body }}</p>
            <ul class="post__tags">
                <li v-for="(tag, index) in post.tags" :key="index">{{ tag }}</li>
            </ul>
            <details @toggle="fetchCommentsByPost(post.id)">
                <summary>{{ post.reactions }} comments</summary>
                <div class="comments">
                    <article class="comment" v-for="comment in comments" :key="comment.id">
                        <p class="comment_text">{{ comment.body }}</p>
                    </article>
                </div>
            </details>
        </article>
    </div>
    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>

</html>